  /* CSS */
  .ARcolors-100 {
    color: #8c6b3d;
  }
  
  .ARcolors-200 {
    color: #f2dda6;
  }
  
  .ARcolors-300 {
    color: #d9b678;
  }
  
  .ARcolors-400 {
    color: #baa779;
  }
  
  .ARcolors-500 {
    color: #493e2c;
  }
  
  .ARcolors-600 {
    color: #a38f6f;
  }
  
  .ARcolors-700 {
    color: #bdb59a;
  }
  
  .ARcolors-800 {
    color: #c4c491;
  }
  
  .ARcolors-900 {
    color: #643c1c;
  }
  /* CSS */
.bg-ARcolors-100 {
  background-color: #8c6b3d;
}

.bg-ARcolors-200 {
  background-color: #f2dda6;
}

.bg-ARcolors-300 {
  background-color: #d9b678;
}

.bg-ARcolors-400 {
  background-color: #baa779;
}

.bg-ARcolors-500 {
  background-color: #493e2c;
}

.bg-ARcolors-600 {
  background-color: #a38f6f;
}

.bg-ARcolors-700 {
  background-color: #bdb59a;
}

.bg-ARcolors-800 {
  background-color: #c4c491;
}

.bg-ARcolors-900 {
  background-color: #643c1c;
}
